{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- home section -->
    <section id="home" class="banner_container" style="background:none ;">
      <div class="container hero-container" >
        <div class="row align-items-center">
          <div class="col-md-6 px-5  ban-img-section fade-overflow-hidden" data-aos="fade-right" >
            <img class="ban-img"  src=" {% static 'images/aso_cover.png' %} " alt="banner_img" style="width:85%;">
          </div>
          <div class="col-md-6 my-5 my-md-0 text-center text-md-start fade-overflow-hidden" id="banner-content" data-aos="fade-left" data-aos-delay="500">
              <p class="banner-subtitle">ASO</p>
              <h2 class="single-service-title">App Store Optimization</h2>
              <p class="banner-title-text">App Store Optimization is the process of optimizing mobile application to rank top of the search results. Ranking top increases your app visibility and organic downloads.</p>
              <div class=" contact-btn-section">
                  <a class="nav-link  contact-btn btn-header" href=" {% url 'contact_us' %} ">Hire Us</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- home section ends -->

    <!-- About section -->
    <section id="about" class="about_container">
      <div class="about-1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-sm-12 col-lg-6 text-center text-lg-start fade-overflow-hidden" data-aos="fade-right">
                  
                  <h2 class="about_title" style="color:#eaeaea;">Why <span>ASO ?</span> </h2>
                  <p class="about_text">Google Play for Android and App Store for IOS are the two major app stores in the world to download mobile applications. There are 5+ million apps available to download on these platforms. According to google, 70% of users utilize search to find new apps and 65% of all downloads occur directly after a search.</p>
                  <p class="about_text">If you want to increase your mobile business then its high time for you to invest in ASO. In fact, optimising the app is most effective marketing strategy to reach your potential audience.
                </p>
                  <div class="my-5 ">
                      <a class="contact-btn" href="#">Find out more</a>
                  </div>
              </div>
              <div class="col-sm-12 col-lg-6 px-5 text-center text-md-start about-image fade-overflow-hidden" data-aos="fade-left"> 
                  <img src=" {% static 'images/aso-intel.svg' %} " class="img-fluid"> 
              </div>
          </div>
          <!-- <div class="row align-items-center">
            <div class="col-sm-12 col-lg-6 px-5 text-center text-md-start about-image fade-overflow-hidden" data-aos="fade-left"> 
                <img src=" {% static 'images/boost_img.png' %} " class="img-fluid"> 
            </div>
            <div class="col-sm-12 col-lg-6 text-center text-lg-start fade-overflow-hidden" data-aos="fade-right">
                
                <h2 class="about_title" style="color:#eaeaea;">We provide <span>Development</span> and <span>Digital Marketing</span> services</h2>
                <p class="about_text">We at Joni solutions promise you to provide the best development services and digital marketing strategies which will tend to increase your online visibility.  We have a dedicated team of people who work on SEO, SMO, and SEM strategies, helping your business grow in comparatively less time.</p>
                <div class="my-5">
                    <a class="contact-btn" href="#">Find out more</a>
                </div>
            </div>
            
        </div> -->
      </div>
    </div>

      
      
  </section>
  <!-- About section exit -->

  <!-- services section -->
  <section id="brands" class="brand_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center ">
                <p class="brand_subtitle">In ASO, there are few factors which have higher impact on the search results. Some of them are mentioned below</p>
                <!-- <h2 class="brand_title">Client showcase</h2> -->
            </div>
        </div>
        <div class="row justify-content-center brand-row " >
           
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">App Title</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">App Descriptions</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">App Keywords</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">App Icon</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">App Subtitle</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">App Categories</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Downloads</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Screenshots</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
              <div class="card">
                  <a href=""><p class=" text-center">Video Previews</p></a>

              </div>
            </div>
            
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Ratings</p></a>

                </div>
            </div>
            
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
              <div class="card">
                  <a href=""><p class=" text-center">Review</p></a>

              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Localizations</p></a>

                </div>
            </div>
           
        </div>
    </div>
</section>


  <section class="testimonials_container about_container" style="padding-bottom:4rem ;">
    <div class="testimonials_inner">
          <div class="container ">
            
              <div class="row align-items-center testimonials_content">
                  <div class="col-sm-12 col-lg-5 px-5 text-center text-md-start testimonial-image fade-overflow-hidden" data-aos="fade-right">
                      <img src=" {% static 'images/machine-learning.png' %} " class="img-fluid">
                  </div>
                    <div class="col-sm-12 col-lg-7 text-center text-lg-start fade-overflow-hidden" data-aos="fade-left">
                    
                            <h2 class="about_title" style="color:#eaeaea;">Why <span>ASO ?</span> </h2>
                            <p class="about_text">Managing apps could be tricky sometimes because of the frequent Algorithm updates done by google play and app store but there are several Artificial Intelligence tools which can assist you to maintain, analyse and track the performance of the mobile app.</p>
                            <p class="about_text">As the number of smartphone users increasing everyday its expected that there would be around 7.33B smartphone users in 2025(source: *Forecast figures by Ericsson & The Radicati Group). It’s evident that the number of mobile apps could also go higher. With good strategy ASO will definitely enhance your business presence and generate revenue in upcoming days.</p>
                            <div class="my-5 ">
                                <a class="contact-btn" href="#">Find out more</a>
                            </div>
                        
                        
                    </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}