
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="contact_container">
    <div class="container px-5 myform-container">
        
        <div class="row  contact_wrapper">
            
            <div class="contact-box-right p-5 my-auto">
                {% if page == 'service' %}
                <h2 class="text-center">Service</h2>
                {% elif page == 'testimonial' %}
                <h2 class="text-center">Testimonial</h2>
                {% endif %}
                <form action="" method="POST" onsubmit="submithandler(event)" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-4 pt-2">
                            <label for="exampleFormControlInput1" class="form-label">{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %}
                      
                    <button type="submit" class="contact-btn mt-4">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}