
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- home section -->
    <section id="home" class="banner_container" style="background:none ;">
      <div class="container hero-container" >
        <div class="row align-items-center">
          <div class="col-md-6   ban-img-section fade-overflow-hidden" data-aos="fade-right" >
            <img class="ban-img"  src=" {% static 'images/sem_cover.png' %} " alt="banner_img" style="width:85%;">
          </div>
          <div class="col-md-6 my-5 my-md-0 text-center text-md-start fade-overflow-hidden" id="banner-content" data-aos="fade-left" data-aos-delay="500">
              <p class="banner-subtitle">SEM</p>
              <h2 class="single-service-title">Search Engine Marketing</h2>
              <p class="banner-title-text">Search Engine Marketing refers to the strategies followed to increase the web visibility of a product/business through paid ads and partnerships. SEM compliments SEO and helps your business to rank high on all search engine platforms like Google, Bing, Yahoo, etc. This is one of the easiest and fastest ways to boost a business digitally. </p>
              <div class=" contact-btn-section">
                  <a class="nav-link  contact-btn btn-header" href=" {% static '#about' %} ">Hire Us</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- home section ends -->

    <!-- About section -->
    <section id="about" class="about_container">
      <div class="about-1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-sm-12 col-lg-6   text-center text-lg-start fade-overflow-hidden" data-aos="fade-right">
                  
                  <h2 class="about_title" style="color:#eaeaea;">Why <span> SEM ?</span> </h2>
                  <p class="about_text"> When spending or investing in a business the return part cannot be ignored and the report shows SEM brings the highest conversion/returns to a business. This is because when you spend on PPC (price per click) or advertise your product/business starts appearing on the top of the SERPs and hence it is clicked by the maximum number of users.</p>
                  <p class="about_text"> SEM is considered as the bottom funnel of the marketing channel which also tends to increase brand awareness among the people.</p>
                  <p class="about_text"> While SEO brings slow and long-term results, SEM is considered as one of the fastest ways to rank your website on top in SERPs. You just need to target a particular set of audiences, set a budget, and create ads.</p> 

                  
                  <div class="my-2 ">
                      <a class="contact-btn" href="#">Find out more</a>
                  </div>
              </div>
              <div class="col-sm-12 col-lg-6 px-5 text-center text-md-start about-image fade-overflow-hidden" data-aos="fade-left"> 
                  <img src=" {% static 'images/sem-graphic.png' %} " class="img-fluid"> 
              </div>
          </div>
          <!-- <div class="row align-items-center">
            <div class="col-sm-12 col-lg-6 px-5 text-center text-md-start about-image fade-overflow-hidden" data-aos="fade-left"> 
                <img src=" {% static 'images/boost_img.png' %} " class="img-fluid"> 
            </div>
            <div class="col-sm-12 col-lg-6 text-center text-lg-start fade-overflow-hidden" data-aos="fade-right">
                
                <h2 class="about_title" style="color:#eaeaea;">We provide <span>Development</span> and <span>Digital Marketing</span> services</h2>
                <p class="about_text">We at Joni solutions promise you to provide the best development services and digital marketing strategies which will tend to increase your online visibility.  We have a dedicated team of people who work on SEO, SMO, and SEM strategies, helping your business grow in comparatively less time.</p>
                <div class="my-5">
                    <a class="contact-btn" href="#">Find out more</a>
                </div>
            </div>
            
        </div> -->
      </div>
    </div>

      
      
  </section>
  <!-- About section exit -->

  <!-- services section -->
  <section id="brands" class="brand_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center ">
                <p class="brand_subtitle">There are several ways of SEM targeting which includes:</p>
                <!-- <h2 class="brand_title">Client showcase</h2> -->
            </div>
        </div>
        <div class="row justify-content-center brand-row " >
            
            
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Location and Keyword targeting</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">AD schedule targeting</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Device targeting</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Demographic targeting</p></a>

                </div>
            </div>
            
           
           
        </div>
    </div>
</section>


  <section class="testimonials_container about_container" >
    <div class="testimonials_inner">
          <div class="container ">
            
              <div class="row align-items-center testimonials_content">
                  <div class="col-sm-12 col-lg-5 px-5 text-center text-md-start testimonial-image fade-overflow-hidden" data-aos="fade-right">
                      <img src=" {% static 'images/pngwing.com (3).png' %} " class="img-fluid">
                  </div>
                    <div class="col-sm-12 col-lg-7 text-start fade-overflow-hidden" data-aos="fade-left">
                    
                            <h2 class="about_title" style="color:#eaeaea;">Benefits that you get from <span>SEM</span></h2>
                            <!-- <ul>
                              <li><p class="about_text">Native Application</p></li>
                              <li><p class="about_text">Web Based Application</p></li>
                              <li><p class="about_text">Hybrid Application</p></li>
                            </ul> -->

                            <ul>
                                <li><p class="about_text">Highest Conversion</p></li>
                                <li><p class="about_text">Increases Brand Awareness</p></li>
                                <li><p class="about_text">Major traffic sources</p></li>
                                <li><p class="about_text">Rank on top</p></li>
                                <li><p class="about_text">High Returns and Reach</p></li>
                                
                              </ul>
                            <div class="my-5 ">
                                <a class="contact-btn" href="#">Find out more</a>
                            </div>
                        
                        
                    </div>
              </div>
          </div>
      </div>
  </section>

{% endblock %}