{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- home section -->
    <section id="home" class="banner_container" style="background:none ;">
      <div class="container hero-container" >
        <div class="row align-items-center">
          <div class="col-md-6   ban-img-section fade-overflow-hidden" data-aos="fade-right" >
            <img class="ban-img"  src=" {% static 'images/kindpng_1080067 copy.png' %} " alt="banner_img" style="width:85%;">
          </div>
          <div class="col-md-6 my-5 my-md-0 text-center text-md-start fade-overflow-hidden" id="banner-content" data-aos="fade-left" data-aos-delay="500">
              <p class="banner-subtitle">SMO</p>
              <h2 class="single-service-title">Social Media Optimization</h2>
              <p class="banner-title-text">Implementing social media optimization promotes your business through social media channels. This is done by keeping your followers and subscribers engaged and at the same time promoting your business through images, videos, infographics on social media platforms. SMO creates a customer base for your business and also increases your product visibility on the web. However, SMO does not include the advertising part on social media.</p>
              <div class=" contact-btn-section">
                  <a class="nav-link  contact-btn btn-header" href=" {% url 'contact_us' %} ">Hire Us</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- home section ends -->

    <!-- About section -->
    <section id="about" class="about_container">
      <div class="about-1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-sm-12 col-lg-6  text-start fade-overflow-hidden" data-aos="fade-right">
                  
                <h2 class="about_title" style="color:#eaeaea;">Why <span> SMO ?</span></h2>
                <!-- <ul>
                  <li><p class="about_text">Native Application</p></li>
                  <li><p class="about_text">Web Based Application</p></li>
                  <li><p class="about_text">Hybrid Application</p></li>
                </ul> -->

                <p class="about_text"> With the growing digitalization, businesses are being promoted online, and social media has become one of the effective platforms for it. This is because nowadays there has been a drastic increase in the number of social media uses and promoting your business there has a huge potential to get good quality leads. This is done by setting up strategies and performing customer and market analysis. </p>
                <p class="about_text"> Another important factor that adds to the benefit of SMO is- it not only promotes the business but also increases the brand visibility by multiple times. </p>
                <p class="about_text"> So, being a business owner, if you want to increase your web visibility & build a good customer base then SMO is the key to it. </p> 

                <div class="my-5 ">
                    <a class="contact-btn" href="#">Find out more</a>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6 px-5 text-center text-md-start about-image fade-overflow-hidden" data-aos="fade-left"> 
                  <img src=" {% static 'images/popopo.png' %} " class="img-fluid"> 
              </div>
          </div>
          
      </div>
    </div>

      
      
  </section>
  <!-- About section exit -->

  <!-- services section -->
  <section id="brands" class="brand_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="brand_subtitle">Some platforms where you can promote your business through SMO are:</p>
                <!-- <h2 class="brand_title">Client showcase</h2> -->
            </div>
        </div>
        <div class="row justify-content-center brand-row " >
            
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Facebook</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Instagram</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Linkedin</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5 px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Twitter</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Pinterest</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Youtube</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">TikTok</p></a>

                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-5  px-lg-4">
                <div class="card">
                    <a href=""><p class=" text-center">Snapchat</p></a>

                </div>
            </div>
           
           
           
        </div>
    </div>
</section>


  <section class="testimonials_container about_container" >
    <div class="testimonials_inner">
          <div class="container ">
            
              <div class="row align-items-center testimonials_content">
                  <div class="col-sm-12 col-lg-5 px-5 text-center text-md-start testimonial-image fade-overflow-hidden" data-aos="fade-right">
                      <img src=" {% static 'images/Social-Media-Marketing2.png' %} " class="img-fluid">
                  </div>
                    <div class="col-sm-12 col-lg-7 text-center text-lg-start fade-overflow-hidden" data-aos="fade-left">
                    
                            
                            <h2 class="about_title" style="color:#eaeaea;">Benefits that you get from <span>SMO</span> </h2>
                  <ul>
                    <li><p class="about_text">Creates customer base for your business/product</p></li>
                    <li><p class="about_text">You gain good quality leads which have a higher potential of conversion.</p></li>
                    <li><p class="about_text">Improves search engine ranking and keyword performance</p></li>
                    <li><p class="about_text">Provides you a communication channel to communicate with your users.</p></li>
                    <li><p class="about_text">Targeting your audience becomes easy.</p></li>
                    <li><p class="about_text">You can test and measure your performance.</p></li>
                    
                  </ul>
                  <div class="my-2 ">
                      <a class="contact-btn" href="#">Find out more</a>
                  </div>
                        
                        
                    </div>
              </div>
          </div>
      </div>
  </section>

  {% endblock %}